body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

h1 {
    color: #4a90e2;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
}

ul {
    margin: 20px;
    padding: 0;
    list-style-type: circle;
}

ul li {
    margin-bottom: 10px;
}

img.hobby-image {
    display: block;
    float: left;
    margin: -20px 20px 20px 0;
    border-radius: 10px;
    width: 300px;
}


table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px 0;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

a {
    color: #4a90e2;
    text-decoration: none;
}

a:hover {
    color: #ff6347;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #066709;
}

.imagem-viajar {
    width: 200px;
    height: 150px;
    border-radius: 5px;
}

.mensagem-botao {   
    text-align: center;
    font-size: 18px;
    color: #080808;   
}
